.hover-downscale:hover {
  transform: scale(0.7, 0.7);
}

.hover-downscale {
  transition: transform 0.5s;
}

.spin-360 {
  animation-name: spin;
  animation-duration: 500ms;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
