.navbarbutton {
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.navbarbutton:hover {
  color: darkgray;
  font-size: 30px;
}
